<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.material.mapper.MaImgMapper">
    
    <resultMap type="MaImg" id="MaImgResult">
        <result property="imgid"    column="imgid"    />
        <result property="imgname"    column="imgname"    />

        <result property="imgpath"    column="imgpath"    />
        <result property="mid"    column="mid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMaImgVo">
        select imgid, imgname, imgpath, mid, create_by, create_time, update_by, update_time, remark from ma_img
    </sql>

    <select id="selectMaImgList" parameterType="MaImg" resultMap="MaImgResult">
        <include refid="selectMaImgVo"/>
        <where>  
            <if test="imgname != null  and imgname != ''"> and imgname like concat('%', #{imgname}, '%')</if>

            <if test="imgpath != null  and imgpath != ''"> and imgpath = #{imgpath}</if>
            <if test="mid != null "> and mid = #{mid}</if>
        </where>
    </select>
    
    <select id="selectMaImgByImgid" parameterType="Long" resultMap="MaImgResult">
        <include refid="selectMaImgVo"/>
        where imgid = #{imgid}
    </select>
        
    <insert id="insertMaImg" parameterType="MaImg" useGeneratedKeys="true" keyProperty="imgid">
        insert into ma_img
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imgname != null">imgname,</if>

            <if test="imgpath != null">imgpath,</if>
            <if test="mid != null">mid,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="imgname != null">#{imgname},</if>

            <if test="imgpath != null">#{imgpath},</if>
            <if test="mid != null">#{mid},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMaImg" parameterType="MaImg">
        update ma_img
        <trim prefix="SET" suffixOverrides=",">
            <if test="imgname != null">imgname = #{imgname},</if>

            <if test="imgpath != null">imgpath = #{imgpath},</if>
            <if test="mid != null">mid = #{mid},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where imgid = #{imgid}
    </update>

    <delete id="deleteMaImgByImgid" parameterType="Long">
        delete from ma_img where imgid = #{imgid}
    </delete>

    <delete id="deleteMaImgByImgids" parameterType="String">
        delete from ma_img where imgid in 
        <foreach item="imgid" collection="array" open="(" separator="," close=")">
            #{imgid}
        </foreach>
    </delete>
</mapper>