<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.material.mapper.MaNewsMapper">
    
    <resultMap type="MaNews" id="MaNewsResult">
        <result property="nid"    column="nid"    />
        <result property="author"    column="author"    />
        <result property="ntitle"    column="ntitle"    />
        <result property="ndetail"    column="ndetail"    />
        <result property="nread"    column="nread"    />
        <result property="deltype"    column="deltype"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMaNewsVo">
        select nid,author, ntitle, ndetail, nread, deltype, create_by, create_time, update_by, update_time, remark from ma_news
    </sql>

    <select id="selectMaNewsList" parameterType="MaNews" resultMap="MaNewsResult">
        <include refid="selectMaNewsVo"/>
        <where>  
            <if test="nid != null "> and nid = #{nid}</if>
            <if test="author != null "> and author = #{author}</if>
            <if test="ntitle != null  and ntitle != ''"> and ntitle = #{ntitle}</if>
            <if test="ndetail != null  and ndetail != ''"> and ndetail = #{ndetail}</if>
            <if test="nread != null  and nread != ''"> and nread = #{nread}</if>
            <if test="deltype != null  and deltype != ''"> and deltype = #{deltype}</if>
        </where>
    </select>
    
    <select id="selectMaNewsByNid" parameterType="Long" resultMap="MaNewsResult">
        <include refid="selectMaNewsVo"/>
        where nid = #{nid}
    </select>
        
    <insert id="insertMaNews" parameterType="MaNews">
        insert into ma_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nid != null">nid,</if>
            <if test="author != null">author,</if>
            <if test="ntitle != null">ntitle,</if>
            <if test="ndetail != null">ndetail,</if>
            <if test="nread != null">nread,</if>
            <if test="deltype != null">deltype,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nid != null">#{nid},</if>
            <if test="author != null">#{author},</if>
            <if test="ntitle != null">#{ntitle},</if>
            <if test="ndetail != null">#{ndetail},</if>
            <if test="nread != null">#{nread},</if>
            <if test="deltype != null">#{deltype},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMaNews" parameterType="MaNews">
        update ma_news
        <trim prefix="SET" suffixOverrides=",">
            <if test="author != null">author = #{author},</if>
            <if test="ntitle != null">ntitle = #{ntitle},</if>
            <if test="ndetail != null">ndetail = #{ndetail},</if>
            <if test="nread != null">nread = #{nread},</if>
            <if test="deltype != null">deltype = #{deltype},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where nid = #{nid}
    </update>

    <delete id="deleteMaNewsByNid" parameterType="Long">
        delete from ma_news where nid = #{nid}
    </delete>

    <delete id="deleteMaNewsByNids" parameterType="String">
        delete from ma_news where nid in 
        <foreach item="nid" collection="array" open="(" separator="," close=")">
            #{nid}
        </foreach>
    </delete>
</mapper>